<!DOCTYPE html5>
<html>	
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/style.css">
	<script src="/parsleyjs/parsley.min.js"></script>
  
</head>

<body>
    <nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/login">Login</a><a class="navbar-brand" href="/register">Register</a>
</nav>
	

	<div class="col-md-4 col-md-offset-4"> 
		<div>
			<h1><b>Login</b></h1>
		</div>
		{{>errormessage}}  

		
		<script>
			$('#custom-error-msg').hide()
    		$("#error-msg").delay(2000).slideUp();
			$("#success-msg").delay(2000).slideUp();
		</script>

		<div class="form-group">
			<form id="form" action="/login" method="POST" >
				<input type="text" name="email" id="email" placeholder="E-mail" class="form-control" autocomplete="off" required data-parsley-error-message="Plz Enter email"/><br/>
				<input type="password" name="password" placeholder="Password" required class="form-control" data-parsley-error-message="plz enter password"><br/>
				<input type="submit" value="Login" class="btn btn-success">
				
				<h1>{{hi}}</h1>
			</form>
			<script type="text/Javascript">
			$(document).ready(() => {
    		$('#form').parsley();
  			}) 
		</script>

		</div>
		<div class="mssg bg-danger">
			<span id="check" ></span>
		</div>
		<div id="LangTable"><a href="/profile" id="aa"></a>
		</div><div>
			<span>Logout hear <a href="/logout">logout</a></span>
		</div>
		<div><span>Do you forgot password?</span><a href="/forgetpass">Click here</a>
	<!--	<div><a href="/secretpage" id="aa">secretpage</a> -- >
		</div>

		</div>
		<div>
			<span>Not Registered? Register here <a href="/register">Register</a></span>
		</div>
	</div>

	</body>
</html>