<!DOCTYPE html5>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/style.css">
<script src="/parsleyjs/parsley.min.js"></script>

</head>


<body>
<!-- As a link -->
 <nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/login">Login</a><a class="navbar-brand" href="/register">Register</a>
</nav> 
<div class="col-md-4 col-md-offset-4">
		<div>
			<h1><b>Register</b></h1>
			
		</div>
		<div class="form-group">
			<form id="form1" action="/register" method="POST">
            
            <input type="text" id="UserName" name="UserName" placeholder="Username"  class="form-control" autocomplete="off" required data-parsley-error-message="Enter name"><br/>    	    
            <input type="email" name="email" placeholder="E-mail"  class="form-control" autocomplete="off" required placeholder="Enter a valid email" required data-parsley-error-message="Email is required"/><br/>
			
            <input type="Number" name="PhoneNo" id="Phone" placeholder="Enter 10 digit Number"  required class="form-control" autocomplete="off" required data-parsley-error-message="Mobile no. is required"><br/>
            
            <span>Male</span>
            <input type="radio" id="Male" name="gender" value="Male" checked>
            <span>Female</span>
            <input type="radio" id="Female" name="gender" value="Female">

            <input type="password" name="password" id="password" placeholder="Password" class="form-control" required data-parsley-error-message="Plz Enter password"><br/>
			<input type="password" name="passwordConf" id="passwordConf"  placeholder="Confirm Password" required class="form-control" data-parsley-trigger="keyup" data-parsley-equalto="#password"  data-parsley-error-message="Your passowrd doesnt match."><br/>
		
			
            <input type="submit" value="Register" class="btn btn-success"/>
			</form>

			<script type="text/Javascript">
				
			$(document).ready(() => {
    		$('#form1').parsley();
  			}) 
	
			</script>
			
			
		</div>
		
		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div>
			<span>Already Registered! <a href="/login">Login</a></span>
		</div>
		<div id="LangTable"><a href="/login" id="aa"></a>
		</div>
	</div>
	<footer>
        <p>
           
    <footer> 
        </p>
    </footer>
</body>

</html>